* {margin: 0; padding: 0; color: #333;}
a {text-decoration: none;}
ul, ol {list-style: none;}
html, body {font-family: 'Noto Sans KR', sans-serif;}
.eng {font-family: 'Montserrat', sans-serif;}

body {height: 100vh; overflow: hidden;}


.outer_boder .top {
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  width: 100%;
  height: 70px;
}

.outer_boder .left {
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  width: 70px;
  height: 100%;
}

.outer_boder .bottom {
  position: fixed;
  bottom: 0; left: 0;
  background: #fff;
  width: 100%;
  height: 70px;
}

.outer_boder .right {
  position: fixed;
  top: 0; right: 0;
  background: #fff;
  width: 70px;
  height: 100%;
}

.title {
  position: fixed;
  top: 40px;
  left: 70px;
  font-size: 20px;
  z-index: 2;
}

.sub_title {
  font-size: 18px;
  font-weight: 500;
}

.sub_title::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #ccc;
  margin: 0 10px;
}

.top_inner, .bottom_inner {
  width: 100%; height: 100%;
  padding: 70px; box-sizing: border-box;
  background: #20B5AE;
}

.top_inner {
  width: 100%;
  display: flex;
}

.skill_btn {right: 25%;}
.skill_btn p {letter-spacing: 1rem;}

.scroll_btn {
  position: fixed;
  bottom: 100px;
  left: calc(50% + 80px);
  transform: translateX(-50%);
  transition: all 0.6s;
  cursor: pointer;
  z-index: 10;
  display: flex;
  gap: 10px;
  align-items: center;
}

.scroll_btn .main_btn {
  position: relative;
  width: 66px;
  height: 66px;
  transition: all 0.4s;
}

.scroll_btn .arrow {
  width: 1px;
  height: 36px;
  background: #333;
  position: absolute;
  top: -16px; left: 50%;
  transition: all 0.4s;
}

.scroll_btn .circle {
  width: 100%; height: 100%;
  position: absolute;
  top: 0px; left: 0;
  border: 1px solid #333;
  border-radius: 50%;
  transition: all 0.8s ease-out;
}

.scroll_btn .arrow::before,
.scroll_btn .arrow::after {
  content: "";
  width: 1px;
  height: 7px;
  background: #333;
  position: absolute;
  bottom: 0;
}

.scroll_btn .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}
.scroll_btn .arrow::after {
  left: 3px;
  transform: rotate(-135deg);
}

.scroll_btn .text {
  color: #333;
  font-size: 14px;
}

.scroll_btn.bottom {
  bottom: 60px;
}

.scroll_btn.bottom .arrow {
  background: #333;
  transform: translateY(63px) rotate(180deg);
}

.scroll_btn.bottom .circle {
  border: 1px solid #333;
}

.scroll_btn.bottom .text {
  color: #333;
}

.scroll_btn.bottom .arrow::before,
.scroll_btn.bottom .arrow::after {
  background: #333;
}

.side_btn {
  position: absolute;
  top: calc(50% - 33px);
  right: 30px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  gap: 30px;
  align-items: center;
}

.side_btn .main_btn {
  position: relative;
  width: 66px;
  height: 66px;
  transition: all 0.4s;
}

.side_btn .arrow {
  width: 36px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%; left: -18px;
  transition: all 0.4s;
}

.side_btn .circle {
  width: 100%; height: 100%;
  position: absolute;
  top: 0px; left: 0;
  border: 1px solid #333;
  border-radius: 50%;
  transition: all 0.8s ease-out;
}

.side_btn .arrow::before,
.side_btn .arrow::after {
  content: "";
  width: 1px;
  height: 7px;
  background: #333;
  position: absolute;
  right: 2px;
}

.side_btn .arrow::before {
  bottom: -1px;
  transform: rotate(135deg);
}
.side_btn .arrow::after {
  bottom: -5px;
  transform: rotate(-135deg);
}

.side_btn .text {
  color: #333;
  font-size: 14px;
}

/* --------------------------------------------------------------------*/
/* ------------------------------- main -------------------------------*/
/* --------------------------------------------------------------------*/

.main {
  display: none;
}

.main.on {
  display: block;
}

.left_area {}
.right_area {}

.center_title {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.center_title .tiping_title {
  font-size: 40px;
  color: #fff;
}

.center_title .tiping_title_top {
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.center_title .tiping_title_bottom {
  letter-spacing: 1.2rem;
  font-weight: 700;
}


.center_title .line_middle {
  display: block;
  margin: 10px 0;
  width: 220px;
  height: 1px;
  background: #fff;
}

.page_btn {
  position: absolute;
  height: 150px;
  top: calc(50% - 40px);
  cursor: pointer;
  overflow: hidden;
}

@keyframes page_btn_hover {
  0% {
    top: 150px;
    height: 100px;
  }
  50% {
    top: 50px;
    height: 0px;
  }
  100% {
    top: 50px;
    height: 100px;
  }
}

.page_btn:hover::after {
 animation: page_btn_hover 1s ease-out;
}

.page_btn p {
  width: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5rem;
}

.page_btn::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #fff;
  margin: 0 0 12px;
}

.page_btn::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 50px;
  left: 50%;
}

.profile_btn {left: 25%;}


/* --------------------------------------------------------------------*/
/* ----------------------------- profile ------------------------------*/
/* --------------------------------------------------------------------*/

.profile {
  display: none;
  border: 1px solid #eee;
  background: #fff;
  width: 100%;
  gap: 8%;
  padding: 4% 10%; box-sizing: border-box;
}

.profile.on {
  display: flex;
}

.profile .picture_wrap {
  width: 35%;
  height: 100%;
  background: url(../img/1.jpg)no-repeat center center/cover;
  border: 3px solid #333;
}

.profile .text_middle {
  width: 10%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.profile .text_middle .props_title {
  /* font-size: 18px; */
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .text_middle .props_title::after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  background: #ccc;
  margin: 30px 0 10px;
}

.profile .text_middle .props {
  margin: 0 auto 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: -0.02rem;
}

.profile .text_middle .props .github {
  display: block;
  width: 96px;
  height: 40px;
  background: url(../img/github_icon.png) no-repeat center center/cover;
}

.profile .text_right {
  flex: 1;
  padding: 12% 1% 0 0;
}

.profile .text_right .txt01 {
  line-height: 40px;
  color: #555;
}

#text01, #text02 {display: none;}

.profile


/* --------------------------------------------------------------------*/
/* ------------------------------ skill -------------------------------*/
/* --------------------------------------------------------------------*/

.skill {
  display: none;
}

.skill.on {
  display: block;
}