* {margin: 0; padding: 0; color: #333;}
a {text-decoration: none;}
ul, ol {list-style: none;}
html, body {font-family: 'Noto Sans KR', sans-serif;}
.eng {font-family: 'Montserrat', sans-serif;}

body {
  height: 100vh; 
  overflow: hidden;
}

:root {
  --main_color: #20B5AE;
}

.outer_border {
  position: relative;
  z-index: 3;
}

.outer_border .top {
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  width: 100%;
  height: 70px;
}

.outer_border .left {
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  width: 70px;
  height: 100%;
}

.outer_border .bottom {
  position: fixed;
  bottom: 0; left: 0;
  background: #fff;
  width: 100%;
  height: 70px;
  transition: all 0.6s;

}

.outer_border .right {
  position: fixed;
  top: 0; right: 0;
  background: #fff;
  width: 70px;
  height: 100%;
}

.outer_border .bottom.on {
  height: 140px;
}

.outer_border .bottom .info {
  opacity: 0;
  transition: all 0.6s;
  color: #333;
  position: absolute;
  bottom: 70px;
  right: 140px;
}

.outer_border .bottom .info .info_email {
  margin: 0 0 7px;
  text-align: right;
  color: #555;
  font-size: 14px;
}

.outer_border .bottom .info .info_github {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  font-size: 14px;
}

.outer_border .bottom .info .info_github img {
  width: 80px;
  height: 34px;
}

.outer_border .bottom.on .info {
  opacity: 1;
}

.title {
  position: fixed;
  top: 40px;
  left: 70px;
  font-size: 20px;
  z-index: 5;
  cursor: pointer;
}

.sub_title {
  font-size: 18px;
  font-weight: 500;
}

.sub_title::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #ccc;
  margin: 0 10px;
}

.top_inner, .bottom_inner {
  width: 100%; height: 100%;
  padding: 70px; box-sizing: border-box;
}

.top_inner {
  width: 100%;
  display: flex;
}

.bottom_inner {
  position: relative;
}

.skill_btn {right: 25%;}
.skill_btn p {letter-spacing: 1rem!important;}

.scroll_btn {
  position: fixed;
  bottom: 100px;
  left: calc(50% + 40px);
  transform: translateX(-50%);
  transition: all 0.6s;
  cursor: pointer;
  z-index: 4;
  display: flex;
  gap: 10px;
  align-items: center;
}

.scroll_btn .main_btn {
  position: relative;
  width: 66px;
  height: 66px;
  transition: all 0.4s;
}

.scroll_btn .arrow {
  width: 1px;
  height: 36px;
  background: #333;
  position: absolute;
  top: -16px; left: 50%;
  transition: all 0.4s;
}

.scroll_btn .circle {
  width: 100%; height: 100%;
  position: absolute;
  top: 0px; left: 0;
  border: 1px solid #333;
  border-radius: 50%;
  transition: all 0.8s ease-out;
}

.scroll_btn .arrow::before,
.scroll_btn .arrow::after {
  content: "";
  width: 1px;
  height: 7px;
  background: #333;
  position: absolute;
  bottom: 0;
}

.scroll_btn .arrow::before {
  left: -3px;
  transform: rotate(-45deg);
}
.scroll_btn .arrow::after {
  left: 3px;
  transform: rotate(-135deg);
}

.scroll_btn .text {
  color: #333;
  font-size: 14px;
}

.scroll_btn.bottom {
  bottom: 60px;
}

.scroll_btn.bottom .arrow {
  background: #333;
  transform: translateY(63px) rotate(180deg);
}

.scroll_btn.bottom .circle {
  border: 1px solid #333;
}

.scroll_btn.bottom .text {
  color: #333;
}

.scroll_btn.bottom .arrow::before,
.scroll_btn.bottom .arrow::after {
  background: #333;
}

.side_btn {
  position: absolute;
  top: calc(50% - 33px);
  cursor: pointer;
  z-index: 3;
  display: flex;
  gap: 30px;
  align-items: center;
}

.side_btn.right {
  right: 10px;
}

.side_btn.left {
  left: 10px;
}

.side_btn .main_btn {
  position: relative;
  width: 66px;
  height: 66px;
  transition: all 0.4s;
}

.side_btn .arrow {
  width: 36px;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%; left: -18px;
  transition: all 0.4s;
}

.side_btn .circle {
  width: 100%; height: 100%;
  position: absolute;
  top: 0px; left: 0;
  border: 1px solid #333;
  border-radius: 50%;
  transition: all 0.8s ease-out;
}

.side_btn .arrow::before,
.side_btn .arrow::after {
  content: "";
  width: 1px;
  height: 7px;
  background: #333;
  position: absolute;
  right: 2px;
}

.side_btn .arrow::before {
  bottom: -1px;
  transform: rotate(135deg);
}

.side_btn .arrow::after {
  bottom: -5px;
  transform: rotate(-135deg);
}

.side_btn .text {
  color: #333;
  font-size: 14px;
}

.side_btn.left .arrow {
  left: 48px;
}

.side_btn.left .arrow::before,
.side_btn.left .arrow::after {
  left: 2px;
}

.side_btn.left .arrow::before {
  bottom: -1px;
  transform: rotate(-135deg);
}

.side_btn.left .arrow::after {
  bottom: -5px;
  transform: rotate(135deg);
}

/* --------------------------------------------------------------------*/
/* ------------------------------- main -------------------------------*/
/* --------------------------------------------------------------------*/

.main {
  display: block;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  position: absolute;
  top: 70px; left: 70px;
  z-index: 1;
  opacity: 0;
  transition: all 1s ease-out;
}

.main.on {
  z-index: 2;
  opacity: 1;
}

.back_slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  opacity: 0;
}

.left_area, .right_area {
  height: 100%;
}

.left_area {
  width: 50%;
  background: url(../img/3.jpg)no-repeat top 50% left/cover fixed;
}

.middle_area {
  width: 0;
  background: #fff;
}

.right_area {
  flex: 1;
  background: var(--main_color);
}

.center_text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.center_text .text_wrap {
  overflow: hidden;
}

.center_text .center_title {
  font-size: 40px;
  color: #333;
  transform: translateY(50px);
}

.center_text .center_title_top {
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.center_text .center_title_bottom {
  letter-spacing: 1.2rem;
  font-weight: 700;
}


.center_text .line_middle {
  display: block;
  margin: 10px 0;
  width: 220px;
  height: 1px;
  background: #fff;
}

.page_btn {
  position: absolute;
  height: 150px;
  top: calc(50% - 40px);
  cursor: pointer;
  overflow: hidden;
  transform: translateY(50px);
  opacity: 0;
}

@keyframes page_btn_hover {
  0% {
    top: 150px;
    height: 100px;
  }
  50% {
    top: 50px;
    height: 0px;
  }
  100% {
    top: 50px;
    height: 100px;
  }
}

.page_btn:hover .line02 {
 animation: page_btn_hover 1s ease-out;
}

.page_btn p {
  width: 100%;
  color: #333;
  text-align: center;
  letter-spacing: 0.5rem;
}

.page_btn .line01 {
  display: block;
  width: 100px;
  height: 1px;
  background: #333;
  margin: 0 0 12px;
}

.page_btn .line02 {
  display: block;
  width: 1px;
  height: 100px;
  background: #333;
  position: absolute;
  top: 50px;
  left: 50%;
}

.profile_btn {left: 25%;}


/* --------------------------------------------------------------------*/
/* ----------------------------- profile ------------------------------*/
/* --------------------------------------------------------------------*/

.profile, .skill {
  display: flex;
  border: 1px solid #eee;
  background: #fff;
  gap: 8%;
  padding: 4% 10%; box-sizing: border-box;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  position: absolute;
  top: 70px; left: 70px;
  transition: all 1s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.profile.on, .skill.on {
  opacity: 1;
  z-index: 2;
}

.profile .picture_wrap {
  width: 35%;
  height: 100%;
  background: url(../img/2.jpg)no-repeat center center/cover;
  border: 1px solid #000;
}

.profile .text_middle {
  width: 10%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.profile .text_middle .props_title {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .text_middle .props_title::after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  background: #ccc;
  margin: 30px 0 10px;
}

.profile .text_middle .props {
  margin: 0 auto 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: -0.02rem;
}

.profile .text_middle .props .github {
  display: block;
  width: 96px;
  height: 40px;
  background: url(../img/github_icon.png) no-repeat center center/cover;
}

.profile .text_right {
  flex: 1;
  padding: 12% 1% 0 0;
}

.profile .text_right h2 {
  margin: 0 0 10px;
}

.profile .text_right .txt01 {
  line-height: 40px;
  color: #555;
}

#text01, #text02 {display: none;}

.profile .home_btn,
.skill .home_btn {
  position: absolute;
  top: 8%; right: 4%;
  cursor: pointer;
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.skill .home_btn::before,
.skill .home_btn::after,
.profile .home_btn::before,
.profile .home_btn::after {
  content: "";
  display: block;
  position: absolute;
  background: #666;
  transition: left 0.6s;
}

.skill .home_btn::before,
.profile .home_btn::before {
  width: 10px;
  height: 1px;
  transform: rotate(-45deg);
  left: 0;
  bottom: -1px;
}

.skill .home_btn::after,
.profile .home_btn::after {
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
}

.skill .home_btn:hover::before,
.skill .home_btn:hover::after,
.profile .home_btn:hover::before,
.profile .home_btn:hover::after {
  left: -20px;
}


/* --------------------------------------------------------------------*/
/* ------------------------------ skill -------------------------------*/
/* --------------------------------------------------------------------*/

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_wrap {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.skill_wrap .graph {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.skill_wrap .graph .name {
  letter-spacing: 0.2rem;
}

.skill_wrap .graph .block {
  width: 100%;
  height: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* background: var(--main_color); */
}

/* --------------------------------------------------------------------*/
/* ----------------------------- project ------------------------------*/
/* --------------------------------------------------------------------*/

.bottom_inner .project_wrap {
  display: flex;
  width: 100%; height: 100%;
  padding: 0 0 70px; box-sizing: border-box;
  flex-wrap: wrap;
}

.project_wrap .project {
  width: 33.333333%;
  height: 50%;
  border: 2px solid #fff; box-sizing: border-box;
  cursor: pointer;
  background: var(--main_color);
  transition: all 0.4s;
}

.project .filter {
  padding: 30px 40px; box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: 100%; height: 100%;
  transition: all 0.4s;
}

.text_box {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px 20px; box-sizing: border-box;
  background: #20B5AE;
}

.project:hover .filter {
  backdrop-filter: blur(3px);
}

.project .project_title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.project .project_desc {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.02rem;
  color: #fff;
}

.project.project01 {
  background: url(../img/project_portfolio.png)no-repeat top center/cover;
}
.project.project02 {
  background: url(../img/project_ikea.png)no-repeat top center/cover;
}
.project.project03 {
  background: url(../img/project_seiko.png)no-repeat top center/cover;
}
.project.project04 {
  background: url(../img/project_ikea_react.png)no-repeat top center/cover;
}
.project.project05 {
  background: url(../img/project_primera.png)no-repeat top center/cover;
}

/* --------------------------------------------------------------------*/
/* --------------------------- detali_page ----------------------------*/
/* --------------------------------------------------------------------*/

.detali_page .project_page {
  display: none;
  width: 100%;
  min-height: 200%;
  position: absolute;
  background: #fff;
  top: 0; left: 0;
  padding: 70px 70px 0 70px; box-sizing: border-box;
  z-index: 3;
}

.detali_page .project_page.on {
  display: block;
}

.detali_page .exit {
  display: none;
  position: fixed;
  top: 10px; right: 70px;
  width: 50px; height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}

.detali_page .exit.on {
  display: block;
}

.detali_page .exit:hover {background: #f2f2f2;}

.detali_page .exit::before,
.detali_page .exit::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background: #333;
  top: 25px;
  left: 15px;
}

.detali_page .exit::before {transform: rotate(45deg);}
.detali_page .exit::after {transform: rotate(135deg);}

.detali_page .top {
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

.project_page .main_img {
  width: 100%;
  background: #333;
  height: 45vh;
  margin: 0 0 70px;
}

.project_page01 .main_img {background: url(../img/project_portfolio.png) no-repeat center center/cover;}
.project_page02 .main_img {background: url(../img/project_ikea.png) no-repeat top center/cover;}
.project_page03 .main_img {background: url(../img/detail_seiko01.png) no-repeat top center/cover;}
.project_page04 .main_img {background: url(../img/project_ikea_react.png) no-repeat top center/cover;}
.project_page05 .main_img {background: url(../img/project_primera01.png) no-repeat center center/cover;}

.project_page .info_box {
  display: flex;
  justify-content: center;
  padding: 0 100px;
  gap: 50px;
  margin: 0 0 200px;
}

.project_page .info_box .con01 {
  margin: 0 50px 0 0;
  text-align: center;
}

.project_page .info_box .con01 .project_desc {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}

.project_page .info_box .con01 .project_title {
  font-size: 40px;
  font-weight: 700;
}

.project_page .info_box .con01 .project_title::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 30px auto;
  background: #ccc;
}

.project_page .info_box .con01 .btn_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.project_page .info_box .con01 .btn_box .link {
  position: relative;
  background: #333;
  border-radius: 8px;
  padding: 6px 28px 6px 20px;
  color: #fff;
  transition: all 0.6s;
}

.project_page .info_box .con01 .btn_box .link::before,
.project_page .info_box .con01 .btn_box .link::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 53%;
  right: 5px;
  transform: translateY(-50%);
  transition: all 0.6s;
}

.project_page .info_box .con01 .btn_box .link::after {
  right: 9px;
  border-top: 10px solid transparent;
  border-left: 6px solid #333;
  border-bottom: 10px solid transparent;
}

.project_page .info_box .con01 .btn_box .link:hover {
  color: #333;
  background: #fff;
}

.project_page .info_box .con01 .btn_box .link:hover::before {
  border-left: 10px solid #333;
}

.project_page .info_box .con01 .btn_box .link:hover::after {
  border-left: 6px solid #fff;
}

.project_page .info_box .con01 .btn_box .github img {
  display: block;
  width: 64;
  height: 30px;
}

.project_page .info_box .con02 {
  margin: 0 150px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.project_page .info_box .con03 {
  width: 30%;
  font-weight: 300;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.project_page .con_detail {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 0 0 200px 0;
}

.project_page .con_detail .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.project_page .con_detail .text .name {
  font-size: 22px;
  font-weight: 500;
}

.project_page .con_detail .text .desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}

.project_page .con_detail img {
  width: 40%;
}